 <br>
        <br>
        <br>
        <div class="hiddenTest">“Vision”нэвтрүүлгийн зочин “Анд Глобал” компанийн захирал Ч.Анар.<br>
Хэдий чадвартай хүмүүс байсан ч нийтийн алсын хараагүй бол хол явдаггүй. Тийм ч учраас ажилтан нэг бүр маань нэг алсын харааны төлөө зангидсан гар шиг зүтгэдэг.<br>
<iframe frameborder="no" height="300" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/330618111&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true" width="100%"></iframe><br>
<br>
<img border="0" src="https://2.bp.blogspot.com/-shcjM01-wIU/WdsjLBoTpuI/AAAAAAAAAHQ/0xYAqiNBhnQcZlQ7mIxpG_n_YKtamSTbwCLcBGAs/s1600/19650284_1521678421239384_958735935_o-091808-928490659.jpeg" style="display: none;"></div>
        <!--                </div>-->
    </div>
    <div id="footer-placeholder">


         <a href="#" id="back-to-top" class="ion-chevron-up" title="Back to top"></a>
    <footer id="footer" class="bg_lightgrey">
        <div class="container">
            <div class="row justify-content-around">
                <div class=" d-none d-md-block col-md-3 col-sm-6  col-xs-6">
                    <h6>Бидний тухай</h6>
                    <a href="aboutus.html">
                        <p>ЛэндМН ББСБ</p>
                    </a>
                    <a href="career.html">
                        <p>Нээлттэй ажлын байр</p>
                    </a>
                    <a href="http://and.global/">
                        <p>AНД Глобал</p>
                    </a>
                    <a href="http://andsystems.net/">
                        <p>АНД Системс</p>
                    </a>
                    <a href="news.html">
                        <p>Мэдээ мэдээлэл</p>
                    </a>
                </div>
                <div class=" d-none d-md-block col-md-3 col-sm-6 col-xs-6">
                    <h6> ЛэндМН аппликейшн</h6>
                    <a href="product.html">
                        <p>Давуу талууд</p>
                    </a>
                    <a href="product.html#terms">
                        <p>Үйлчилгээний нөхцөл</p>
                    </a>
                    <a href="product.html#require">
                        <p>Тавигдах шаардлага</p>
                    </a>
                    <a href="product.html#signup">
                        <p>Хэрэглэгч болох</p>
                    </a>
                </div>
                <div class=" d-none d-md-block col-md-3 col-sm-6 col-xs-6 ">
                    <h6>Тусламж</h6>
                    <a href="help.html#videos">
                        <p>Заавар видео</p>
                    </a>
                    <a href="help.html#faq">
                        <p>Түгээмэл асуулт</p>
                    </a>
                    <a href="help.html#notarylocations">
                        <p>Гэрээ хийх цэгүүд</p>
                    </a>
                    <a href="help.html#versionhistory">
                        <p>Апп хувилбарын түүх</p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <h6>Холбоо барих</h6>
                    <p class="ion-android-mail"> contact@lend.mn
                        <br><span class="ion-ios-telephone"></span> 77070101 </p>
                    <a href="help.html#notarylocations">
                        <p class="ion-ios-location" style="line-height: 20px;">Улаанбаатар хот, Сүхбаатар дүүрэг, 5-р хороо "Нью майнд групп ХХК" байр</p>
                    </a>
                    <p class="ion-android-time"> Даваа-Баасан :
                        <br>Өглөө 9:00 - Орой 18:00
                        <br>Бямба-Ням : Амарна </p>
                </div>
                <div class="col-md-12 text-center">
                    <ul class="footerlinks">
                        <li>
                            <a href="https://twitter.com/lendmn?lang=en" class="ion-social-twitter" target="_blank"></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/LendMN/" class="ion-social-facebook" target="_blank"></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCYt38oEVZTQDmuYFwNFYZ6Q/videos" class="ion-social-youtube" target="_blank"></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/lend.mn/" class="ion-social-instagram" target="_blank"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p class="text-center">© 2016 - 2018 <a href="http://andsystems.net" target="_blank"> AND Systems tech LLC</a>. ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </div>
    </footer>



</div>
    <!--        </section>-->
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/navigation.js"></script>
    <script>
        function handleResponse(response) {
            var jsonData = response.items;
            var html = "";
            $.each(jsonData, function (index, item) {
                $('.hiddenTest').html(item.content + '</div>');
                html = '<div class="col-md-4">';
                html += '<div class="card">';
                html += '<div id="thumbnail-img1" class="img-responsive">';
                html += '<img class="card-img-top" src="' + $($('.hiddenTest').find('img', 'thumbnail')[0]).attr('src') + '">';
                html += '</div>';
                html += '<div class="card-body bg_lightgrey">';
                html += '<h6 class="card-title garchigmedee">' + item.title + '</h6>';
                html += '<p class="secondarygrey"> ' + item.published.substring(0, 10) + ' </p>';
                html += '<div class="card-text blogtext">' + item.content + '</div>';
                html += '<br>'
                html += '<a href="JavaScript:Void(0);" class="readMore btn-text" postID = ' + item.id + '>Цааш унших</a>';
                html += '</div></div></div>';
                $('#newsContainer').append(html);
            });
            $('.readMore').click(function () {
                //                localStorage.setItem("postID", $(this).attr('postID'));
                window.location.href = "postdynamic.html?article=" + $(this).attr('postID');
                //                        alert($(this).attr('postID'));
            });
            var titles = $(".card-title");
            for (var i = 0; i < titles.length; i++) {
                titles[i].textContent = titles[i].textContent.substring(0, 65) + " ...";
            }
        }
    </script>
    <script src="https://www.googleapis.com/blogger/v3/blogs/2954182812539269354/posts?maxResults=20&amp;labels=news&amp;callback=handleResponse&amp;key=AIzaSyC0do2S_CoXbFkZfenAQ_hRqNhEnRDUVwU"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-109021624-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-109021624-1');
    </script>



</body></html>