<html lang="en"><head>
    <title>ЛэндМН асаа.асуудлаа шийд</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Та яг одоо ямар нэгэн барьцаагүйгээр хэрэглээний зээл авах хамгийн шуурхай, амархан боломж
    буюу ухаалаг гар утсан дээр суурилсан цахим зээлийн аппликейшн юм.">
    <meta name="keywords" content="лэндмн, зээл, цахим, нүгэгмувёүт, өйёумүүовёүт, эцшээуж, луибвти, барьцаагүй, ломбард, финтек, андсистемс, хэрэглээний, ББСБ, and global, and systems, lendmn, mongolia, fintech, mobile app,  financial services, technology company, startup, artificial intelligence, anar, bayarsaikhan, boldbaatar, robert cater, otgonbayar, startup, oko, south east asia, machine learning, ulaanbaatar">
    <meta name="HandheldFriendly" content="true">
    <meta property="og:title" content="ЛэндМН асаа.асуудлаа шийд">
    <!--neg-->
    <meta property="og:url" content="http://lend.mn/">
    <meta property="og:site_name" content="ЛэндМН асаа.асуудлаа шийд">
    <meta property="og:description" content="Та яг одоо ямар нэгэн барьцаагүйгээр хэрэглээний зээл авах хамгийн шуурхай, амархан боломж буюу ухаалаг гар утсан дээр суурилсан цахим зээлийн аппликейшн юм. ">
    <link rel="icon" href="https://lend.mn/mn/image/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://lend.mn/mn/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://lend.mn/mn/css/style.css">
    <link rel="stylesheet" href="https://lend.mn/mn/css/ionicons.min.css">
    <meta property="og:image" content="https://www.lend.mn/mn/image/lendmn.jpg">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">
</head>

<body>
    <a href="#" id="back-to-top" class="ion-chevron-up show" title="Back to top" style="display: block;"></a>
    <header>
        <div class="container">
            <a href="index.html"><img src="https://lend.mn/mn/image/lendmnlogo.svg" alt="logo" class="logo"></a>
            <div class="ion-navicon-round" style="display: none;"></div>
            <div class="ion-close-round" style="display: none;"></div>
            <nav class="navigationlend" style="display: block;">
                <ul>
                    <li><a href="product.html">ЛэндМН аппликейшн</a></li>
                    <li><a href="ipo.html">ЛэндМН хувьцаа</a></li>
                    <li><a href="aboutus.html">Бидний тухай</a></li>
                    <li class="navigationactive"><a href="news.html">Мэдээ</a></li>
                    <li><a href="/addNews">Мэдээ нэмэх</a></li>
                    <li><a href="help.html">Тусламж</a></li>
                    <li>
                        <a href="https://www.lend.mn/en/" target="_blank"><img class="changelanguage" src="https://www.lend.mn/mn/image/eng.png"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="mobilenavigationbg" style="display: none;"> </div>
    <div class="topspacer"></div>
    <!--<section id="blog-list" class="sec-blog-list bg-white horizontal">-->